<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vb.tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.BlackWhite"
        android:name="com.vb.tracker.free.VBtracker">

        <activity
            android:name="com.vb.tracker.free.lock.AppLockActivity"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.vb.tracker.free.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>